body {
  text-align: center;
  display:flex;
  justify-content: center;
  background-color: blue;
}
.formulario{
  background-color: aqua;
  padding:20px;
  border-radius: 10px;
  width:300px
}

.entrada{
  width: 200px;
  height: 30px;
}
.boton{
  width: 100px;
  height:40px ;
}

h1{
  color:antiquewhite;
}